@import url(../node_modules/ant-design-vue/dist/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables.scss';

body {
    font-family: $fontFamily, sans-serif;
}

.container {
    width: 1270px;
    max-width: 100%;
    margin: 0 auto;
}

.header {
    &_logo {
        &_link {
            font-weight: 700;
            font-size: 32px;
            color: $primaryColor;

            &:hover {
                color: darken($color: $primaryColor, $amount: 15)
            }

            &:active {
                color: lighten($color: $primaryColor, $amount: 15)
            }
        }
    }

    &_user {
        &_link {
            color: $secondaryColor;

            &:hover {
                color: mix($secondaryColor, $primaryColor, 10%)
            }

            &:active {
                color: mix($secondaryColor, $primaryColor, 5%)
            }
        }
    }
}