@import url(../node_modules/ant-design-vue/dist/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'variables.scss';

body {
    font-family: $fontFamily, sans-serif;
}

.container {
    width: 1270px;
    max-width: 100%;
    margin: 50px auto;
}

.header {
    margin-bottom: 26px;

    &_logo {
        &_link {
            font-weight: 700;
            font-size: 32px;
            color: $primaryColor;

            &:hover {
                color: darken($color: $primaryColor, $amount: 15)
            }

            &:active {
                color: lighten($color: $primaryColor, $amount: 15)
            }
        }
    }

    &_user {
        &_link {
            color: $secondaryColor;

            &:hover {
                color: mix($secondaryColor, $primaryColor, 10%)
            }

            &:active {
                color: mix($secondaryColor, $primaryColor, 5%)
            }
        }
    }
}

.content {
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(#000, 0.1);

    &_row {
        min-height: 50vh;
    }

    &_sidebar,
    &_main {
        padding: 24px;
    }

    &_sidebar {
        border-right: 1px solid #DEDEDD;
    }

    &_main {
        display: flex;
        align-content: center;

    }

}

.user {
    &_notfound {}

    &_img {}

    &_content {
        dt {
            float: left;
            margin-right: 0.5em;
        }

        dd {
            color: $textColor
        }
    }

    &_about {
        color: $textColor;
        display: inline-block;
    }

    &_list {
        &_item {
            border-radius: 10px;
            box-shadow: 0 0 10px 0 rgba(#000, 0.1);
            border: 1px solid transparent;

            &:hover {
                border-block-end: 1px solid;
                border-color: #E0E0E0;
            }

            &:not(:last-child) {
                margin-bottom: 1.2rem;
            }
        }
    }
}